*{
    text-align: center;
}
h1{
    text-align: center;
}
.card{
    width: 500px;
    background-color: darkgray;
    margin: 30px auto;
    height: 350px;

}
.card video{
    width: 100%;
}
.card h3{
    margin: 30px auto;
    padding-top: 20px;
}